<!DOCTYPE html>
<html>
<head>
	<title> taby of Example</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>NAME</th>
				<th>AGE</th>
			</tr>
		</thead>
		<tbody th:each="user : ${listOfUsers}">
			<tr>
				<th th:text="${user.name}"></th>
				<th th:text="${user.age}"></th>
			</tr>
		</tbody>
	</table>
</body>
</html>